.git
.github
.gitignore
.nix-data
node_modules
vendor
public/build
public/hot
public/index.html
public/assets
public/storage
storage/*.key
storage/pail
storage/logs/*
.env.backup
*.log
tests
phpunit.xml
phpstan.neon
.just
dopice
.flake
flamegraph.svg
frankenphp
*.nix
result
result-*
pre-commit-config.yaml
.claude
.codex
.cursor
.gemini
.agents
.claude
AGENTS.md
CLAUDE.md
GEMINI.md
