includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon

parameters:

    paths:
        - apps/archeo/app/
        - apps/archeo/src/
        - apps/etno/app/
        - apps/etno/src/
        - packages/core/src/
        - packages/opensearch/src/

    # Level 10 is the highest level
    level: 5
