includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - apps/
    configDirectories:
        - apps/archeo/config
        - apps/etno/config
