includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon
    - vendor/pestphp/pest/phpstan-pest-extension.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - apps/
    excludePaths:
        - */vendor/*
        - */Providers/TelescopeServiceProvider.php
    configDirectories:
        - apps/archeo/config
        - apps/etno/config
